<div class="modal fade" id="model-product-post">
    <div class="modal-dialog modal-xl model-product-post">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tạo các bài viết sản phẩm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="contents-list">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Nội dung sẽ được tạo từ việc lấy random 1 dòng trong nhóm nội dung</h3>
                        </div>
                        <div class="card-body">
                          <div class="row">
                          <div class="form-group">
          									<div style="margin-top: 10px;">
                              <p>Lấy các bài viết trong Shopee sản phẩm có shop_id là.</p>
          										<label for="message-name" class="col-form-label">Shop Id:</label>
          										<input type="text" class="" id="input-shop-id">
          									</div>
          								</div>
                          </div>
                          <div class="add-select-content">
                          </div>
                            <!-- Minimal style -->
                        </div>
                    </div>
                </div>
            </div>
            <div id="create-post" class="text-center p-t-1 p-b-20">
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="btn-pd-render-post">Render bài viết</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div id="select-content" hidden>
  <div class="row" >
      <div class="col-sm-4">
              <p>Chọn đăng lên Page</p>
      </div>
      <div class="col-sm-4">
              <p>Chọn nhóm bài viết</p>
      </div>
      <div class="col-sm-4">
              <p>Chọn nhóm bình luận</p>
      </div>
      <div class="col-sm-4" id="pd-select-page">
          <!-- checkbox thêm check box vào đây-->
      </div>
      <div class="col-sm-4" id="pd-select-post">
          <!-- checkbox thêm check box vào đây-->
      </div>

      <div class="col-sm-4" id="pd-select-comment">
          <!-- checkbox thêm check box vào đây-->
      </div>
  </div>
</div>

<!-- /.modal -->
