
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
<block name="head-tag" ></block>
<link rel="stylesheet" href="assets/css/app.css">

<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
<block name="script-top"></block>
</head>
<body>
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
   <!-- Content Header (Page header) -->
   <block name="header-name" ></block>
   <!-- /.content-header -->
   <!-- Main content -->
   <block name="main-content"  ></block>
<!-- /.content -->
  
  <!-- /.control-sidebar -->
  <include src="modal-processing.html"></include>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<script src="assets/js/jquery.js"></script>
<!-- Bootstrap -->
<script src="assets/js/bootstrap.bundle.js"></script>
<!-- overlayScrollbars -->
<script src="assets/js/jquery.overlayScrollbars.js"></script>
<!-- AdminLTE App -->
<script src="assets/js/adminlte..min.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="assets/js/demo.js"></script>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="assets/js/jquery.mousewheel.js"></script>
<script src="assets/js/raphael.js"></script>
<script src="assets/js/jquery.mapael.js"></script>
<script src="assets/js/usa_states.js"></script>
<!-- ChartJS -->
<script src="assets/js/Chart.js"></script>
<!-- PAGE SCRIPTS -->
<block name="script-end"></block>
</body>
</html>
