<div id="tr-base" hidden>
    <table>
        <tbody>
            <tr>
                <td scope="row" class="td-stt"></td>
                <td class="td-status">
                    <input class="btn-td-status" type="checkbox" name="my-checkbox" data-bootstrap-switch data-off-color="danger" data-on-color="success">
                </td>
                <td class="td-show">
                    <input class="btn btn-primary btn-td-show" data-btn='show' type="button" value="Chi tiết">
                </td>
                <td class="td-edit">
                    <input class="btn btn-warning btn-td-edit" data-btn='edit' type="button" value="Sửa">
                </td>
                <td class="td-delete">
                    <input class="btn btn-danger btn-td-delete" data-btn='delete' type="button" value="Xóa">
                </td>
                <td class="td-add">
                    <input class="btn btn-primary btn-td-add" data-btn='add' type="button" value="Thêm">
                </td>
                <td class="td-default">
                    <input class="btn btn-primary btn-td-default" data-btn='show' type="button" value="Mặc định">
                </td>
            </tr>
        </tbody>
    </table>
</div>
