<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="../../assets/img/icon-marketing-128128.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">NDK Marketing Tool</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="../../assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image" id="user-avartar">
            </div>
            <div class="info">
                <a href="#" class="d-block" id="user-name">Admin User</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
             <li class="nav-header">Cấu hình App</li>
             <li class="nav-item">
                 <a href="trigger-action.html" class="nav-link">
                     <i class="fas fa-allergies"></i>
                     <p>Trình kích hoạt hành động</p>
                 </a>
             </li>
             <li class="nav-item" id="nav-cong-viec" hidden>
                 <a href="alarm.html" class="nav-link">
                     <i class="far fa-calendar-alt"></i>
                     <p>Công việc</p>
                 </a>
             </li>
             <li class="nav-item" id="nav-bai-viet" hidden>
                 <a href="post-content.html" class="nav-link">
                     <i class="fas fa-paste"></i>
                     <p>Bài viết</p>
                 </a>
             </li>
             <li class="nav-item">
                 <a href="comment-post.html" class="nav-link">
                     <i class="fas fa-paste"></i>
                     <p>Bình luận</p>
                 </a>
             </li>
             <li class="nav-item">
                 <a href="post-share.html" class="nav-link">
                     <i class="fas fa-share"></i>
                     <p>Nội dung chia sẻ</p>
                 </a>
             </li>
                <li class="nav-header">Facebook</li>
                <li class="nav-item">
                    <a href="fb-account.html" class="nav-link">
                        <i class="fas fa-users"></i>
                        <p>Tài khoản FB</p>
                    </a>
                </li>
                <li class="nav-item" id="nav-fb-account-page" hidden>
                    <a href="fb-account-page.html" class="nav-link">
                        <i class="fas fa-users"></i>
                        <p>Tài khoản FB-Pages</p>
                    </a>
                </li>
                <li class="nav-item" id="nav-fb-page-post" hidden>
                    <a href="fb-page-post.html" class="nav-link">
                        <i class="fa fa-align-left"></i>
                        <p>Bài biết FB-Pages</p>
                    </a>
                </li>

                <li class="nav-header">Facebook Group</li>
                <li class="nav-item">
                    <a href="fb-group.html" class="nav-link">
                        <i class="fas fa-object-group"></i>
                        <p>Quản lý nhóm</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="fb-group-post.html" class="nav-link">
                        <i class="far fa-file-alt"></i>
                        <p>Bài viết đã chia sẻ</p>
                    </a>
                </li>
                <li class="nav-item" id="nav-fb-group-keyword" hidden>
                    <a href="fb-group-keyword.html" class="nav-link">
                        <i class="fas fa-search"></i>
                          <p>Tìm kiếm nhóm</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="fb-group-question.html" id="nav-fb-group-question" class="nav-link" hidden>
                        <i class="far fa-question-circle"></i>
                        <p>Câu hỏi tham gia nhóm</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="fb-group-block-tool.html" class="nav-link">
                        <i class="fas fa-ban"></i>
                        <p>Chặn đăng QC vào nhóm</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="fb-group-top.html" class="nav-link">
                        <i class="fas fa-object-group"></i>
                        <p>Nhóm chọn lọc</p>
                    </a>
                </li>
                <div class="" id="nav-develop-tool" hidden>
                  <li class="nav-header">TMDT</li>
                  <li class="nav-item">
                      <a href="shopee-product.html" class="nav-link">
                          <i class="fab fa-chromecast"></i>
                          <p>Shopee Sản phẩm</p>
                      </a>
                  </li>
                <li class="nav-header">Develop Tool</li>
                <li class="nav-item">
                    <a href="chrome-action.html" class="nav-link">
                        <i class="fab fa-chromecast"></i>
                        <p>Chrome Actions</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="app-log.html" class="nav-link">
                        <i class="fas fa-database"></i>
                        <p>App Log</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="debug.html" class="nav-link">
                        <i class="fas fa-database"></i>
                        <p>Storage</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="option.html" class="nav-link">
                        <i class="fas fa-chart-line"></i>
                        <p>Action</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="setting.html" class="nav-link">
                        <i class="fas fa-cog"></i>
                        <p>Cài đặt</p>
                    </a>
                </li>
                <li class="nav-header">Facebook Data Admin</li>
                <li class="nav-item">
                    <a href="fb-like.html" class="nav-link">
                        <i class="far fa-thumbs-up"></i>
                        <p>FB Like</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="fb-comment.html" class="nav-link">
                        <i class="far fa-comment"></i>
                        <p>FB Comment</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="fb-save-post.html" class="nav-link">
                        <i class="far fa-comment"></i>
                        <p>FB Save Post</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="fb-click-link.html" class="nav-link">
                        <i class="far fa-comment"></i>
                        <p>FB Click Link</p>
                    </a>
                </li>
              </div>
              <hr>
                <li class="nav-item">
                    <a href="#" class="nav-link" id="user-logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <p>Đăng xuất</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
