<extends src="admin_lite_2_no_nav.html">
  <block name="script-top">
    <style>
      .item {
        clear: both;
        display: table;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, .125);
      }
      .card-item-img {
        float: left;
        width: 350px;
        border: 1px solid #f0f0f0;
      }
      .card-item-title {
        font-size: 24px;
      }
    </style>
  </block>

  <block name="main-content">
    <section class="content">
      <div class="container-fluid">
        <div class="row p-4">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Info</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <ul class="m-0">
                  <li class="item p-4">
                    <div class="card-item-img">
                      <img src="/asset/images/thumb/chorme-store-tim-min.png" alt="Product Image" style="width:100%">
                    </div>
                    <div class="card-item-info pl-4" style="float: left;">
                      <h2 class="card-item-title pb-2">
                        <b>Cài đặt hiệu ứng trái tim.</b>
                      </h2>
                      <p>
                        <a class="btn btn-primary"
                          href="https://chrome.google.com/webstore/detail/love-heart-cursor/ahgfjhfefonigkengebhdjikjokkgjlp">Cài
                          đặt</a>
                      </p>
                    </div>
                  </li>

                  <li class="item p-4">
                    <div class="card-item-img">
                      <img src="https://i.ytimg.com/vi_webp/LgDXmQkPDMY/maxresdefault.webp" alt="Product Image" style="width:100%">
                    </div>
                    <div class="card-item-info pl-4" style="float: left;">
                      <h2 class="card-item-title pb-2">
                        <b>Tiện ích xem lịch sử giá sản phẩm Shopee, Tiki...</b>
                      </h2>
                      <p>
                        <a class="btn btn-primary" href="https://bit.ly/lich-su-gia-2-myw">Cài đặt</a>
                      </p>
                    </div>
                  </li>

                  <li class="item p-4">
                    <div class="card-item-img">
                      <img src="/asset/images/thumb/ruoi.png" alt="Product Image" style="width:100%">
                    </div>
                    <div class="card-item-info pl-4" style="float: left;">
                      <h2 class="card-item-title pb-2">
                        <b>Cài đặt hiệu ứng Ruồi bay khi lướt web.</b>
                      </h2>
                      <p>
                        <a class="btn btn-primary" href="https://chrome.google.com/webstore/detail/super-flies/caklloabpkalcbddamnocieihkkokknc">Cài đặt</a>
                      </p>
                    </div>
                  </li>

                  <li class="item p-4">
                    <div class="card-item-img">
                      <img src="/asset/images/thumb/kiem-tien-online.png" alt="Product Image" style="width:100%">
                    </div>
                    <div class="card-item-info pl-4" style="float: left;">
                      <h2 class="card-item-title pb-2">
                        <b>Khóa học kiếm từ 1 triệu đến 10 triệu online miễn phí</b>
                      </h2>
                      <p>
                        <a class="btn btn-primary" href="https://bit.ly/hoc-kiem-tien-online-w">Chi Tiết</a>
                      </p>
                    </div>
                  </li>
                </ul>

              </div>
            </div>
          </div>
          <!-- /.invoice -->
        </div><!-- /.col -->
      </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
  </block>
  <block name="script-end">
    <script src="assets/js/jquery.js"></script>
    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.bundle.js"></script>
    <script src="assets/js/admin.js"></script>
  </block>
</extends>